#player > img{
    width: 40px;
}

#cacto > img{
    width: 20px;
}




#game {
    border: 2px solid black;
    height: 210px;
    top: -40px;
}

#cacto{
    left: 95%;
    position: relative;
    top: 120px;

}


#player {
    position: relative;
    top: 160px;
    left: 5%;
}

.jump{
    animation: jump 500ms linear;
}
